#background {
  height: 100%;
  width: 100%;
  x: 0;
  y: 0;
}

#batteryDisplay {
  font-size: 25;
  text-length: 4;
  text-anchor: start;
  x: 10;
  y: 10%;
}

#weatherIcon {
  height: 30;
  width: 30;
  x: 36%;
  y: 5;
  opacity: 1;
}

#weatherDisplay {
  font-size: 25;
  text-length: 8;
  text-anchor: middle;
  x: 52%;
  y: 10%;
}

#heartDisplay {
  fill: red;
  font-size: 25;
  text-length: 3;
  text-anchor: end;
  x: 290;
  y: 10%;
}

#dateDisplay {
  font-size: 30;
  text-length: 20;
  text-anchor: middle;
  x: 50%;
  y: 25%;
}

#clockFace {
  font-size: 100;
  font-family: System-Bold;
  text-length: 5;
  text-anchor: middle;
  x: 50%;
  y: 55%;
}

.activityContainer {
  height: 60;
  width: 60;
}

.activityContainer arc {
  x: 0;
  y: 0;
  height: 100%;
  width: 100%;
  arc-width: 7;
  start-angle: 0;
}

.activityContainer image {
  x: 25%;
  y: 25%;
  height: 50%;
  width: 50%;
  opacity: 1;
}

.activityText {
  font-family: System-Light;
  font-size: 25;
  text-anchor: middle;
  fill: white;
}
