#background {
  height: 100%;
  width: 100%;
  x: 0;
  y: 0;
}

.topRow {
  font-size: 25;
  y: 9%;
}

#batteryDisplay {
  text-length: 4;
  text-anchor: start;
  x: 5;
}

#weatherIcon {
  height: 30;
  width: 30;
  x: 39%;
  y: 5;
  opacity: 1;
}

#weatherDisplay {
  text-length: 8;
  text-anchor: middle;
  x: 57%;
}

#heartDisplay {
  text-length: 7;
  text-anchor: end;
  x: 295;
}

#dateDisplay {
  font-size: 30;
  text-length: 20;
  text-anchor: middle;
  x: 50%;
  y: 25%;
}

#clockDisplay {
  font-family: System-Bold;
  text-length: 8;
  text-anchor: middle;
  x: 50%;
  y: 55%;
}

.activityContainer {
  height: 55;
  width: 55;
}

.activityContainer arc {
  height: 100%;
  width: 100%;
  arc-width: 7;
}

.activityContainer image {
  height: 50%;
  width: 47%;
  opacity: 1;
}

.activityText {
  fill: white;
  font-size: 20;
  text-anchor: middle;
}
